<!DOCTYPE html>
<head>
    <title>Prueba1</title>

</head>
<body>
    <a href="https://dev-qpzoqcez.auth0.com/authorize?response_type=code&client_id=ek5yWI1JyCXb78obHKzyfpdR14pISo0S&redirect_uri=https://9478a70d.ngrok.io/api/quiny/oauth&state=STATE&audience=https://dev-qpzoqcez.auth0.com/api/v2/&scope=profile openid">
        Sign In
    </a>
    
<!--https://dev-qpzoqcez.auth0.com/api/v2/-->
</body>