body, html { height: 100% }

.nav-color { background-color: #1e824c; }

.button-green { background-color: #00e640; }

.body {
	background-image: url("img/back-main.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  }
  .jumbotronc{
	background-color: #7AB93C;
  }
  .myButtonazul{ 
  background-color: #D0D075 !important
  }
  
  .myButtonamarillo{ 
	background-color: #AAD278 !important
   }
  
  .myButtonverdelimon{ 
	  background-color: #84D57B !important
   }
   .rosa{
	 background-color: var(--rosa);
   }
   .beige{
	background-color: var(--beige);
  }
  .esmeralda{
	background-color: var(--esmeralda);
  }
  .moco{
	background-color: var(--moco);
  }
  .verde1{
	background-color: var(--verde1);
  }
  .verde2{
	background-color: var(--verde2);
  }

:root {
	--esmeralda: #37786c;
	--azul: #3A9584;
	--amarillo: #B3AC3C;
	--verdelimon: #7AB93C;
	--verde: #5BB574;
	--verdecl: #68c281;
	--rosa: #d28b7b;
	--beige: #d4b47e;

	--azul2: #56AAb2;
	--azul3: #62B7C0;
	--moco: #D0D075;
	--verde1: #AAD278;
	--verde2: #84D57B;

	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* ---- particles.js ---- */

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/*** team ***/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.team {
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}
section{
	padding: 10rem;
	background-color: #fff;
}
.heading{
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 5rem;
	text-align: center;
	color: rgb(46, 49, 49);
	/*color: rgb(189, 195, 199)*/
	position: relative;
}
.heading::after{
	content: "";
	width: 60rem;
	height: .5rem;
 background-color: rgb(63, 195, 128);
	position: absolute;
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
}
.card-wrapper{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
.card{
	width: 32rem;
	/*background-color:#333333;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	/*box-shadow: .5rem .5rem 3rem rgba(0,0,0.2);*/
}

.profile-img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -5rem;
	z-index: 999;
	border: .3rem solid rgb(63, 195, 128);
}
.card h1{/*Name*/
	font-size: 2.5rem;
	color: #333333;
	margin: 1.5rem ;
}
.job-title{
	color: rgb(46, 49, 49);
	font-size: 1.3rem;
	font-weight: 300;
}
.about{
	font-size: 1.5rem;
	margin: 1.5rem 0;
	text-align: center;
	justify-content: center;
	font-style: italic;
	color: #333333;
}
.card .btn{
	padding: 1rem 2.5rem;
	background-color: rgb(63, 195, 128);
	border-radius: 2rem;
	margin: 1rem 0;
	text-transform: uppercase;
	color: rgb(46, 49, 49);
	font-size: 1..15rem;
	transition: all;
}
.card .btn:hover{
	transform: translateY(-2px);
	box-shadow: .25rem .25rem 1rem rgba(0,0,0.2)
}

.social-media{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem 0;
}
.social-media i{
	font-size: 3rem;
}
.fa-github-square{
	color: #3b5999;
}
.fa-github-square:hover{
	color: #3b59;
}
@media screen and (min-width: 700px) {
	.card-wrapper{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
	}
	.card{
			margin: 2.5rem;
	}
	@keyframes fadeIn{
			from{
					opacity: 0;
			}
			to{
					opacity: 1;
			}
	}
	.card:nth-child(1){
			animation: fadeIn .5s .3s backwards;
	}
	.card:nth-child(2){
			animation: fadeIn .5s .5s backwards;
	}
	.card:nth-child(3){
			animation: fadeIn .5s .7s backwards;
	}
	.card:nth-child(4){
			animation: fadeIn .5s .9s backwards;
	}
	.card:nth-child(5){
			animation: fadeIn .5s 1.1s backwards;
	}
	.card:nth-child(6){
			animation: fadeIn .5s 1.3s backwards;
	}

}